<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="My Test Suite" verbose="1">
	<parameter name="browser" value="firefox"></parameter>
	<test name="My first test">
		<classes>
			<class name="com.tae.training.tests.TestTravelocity">
			<methods>
			<exclude name="exercise1"/>
			<exclude name="exercise2"/>
			<exclude name="exercise3"/>
			<exclude name="exercise4"/>
			<include name="exercise5"/>
			</methods>
			</class>
		</classes>
	</test>
</suite>